@{
    ViewData["Title"] = "안녕하세요^^";
}



<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    <div class="text-center border">
    
        <h1 class="display-4">안녕하세요!</h1>
        <hr />
        <p>
            이곳은 <h6>최동현</h6>의 취업을위해 공부하였던 내용을 정리해놓은 곳입니다.
            <br />
            현재페이지는 ASP.NET Core MVC패턴을 사용하여 구축하였습니다.
            <br />
            서버는 Microsoft Azure를 사용 하였습니다.
        </p>
    
    </div>
    <hr />

        <div class="border shadow-lg" >
    <table class="border">

        <tr>
        
            <td>
                <a asp-controller="Unity" asp-action="Index"> <img src="/c.png" height="160" width="178" class="border-light shadow-lg" /> </a>
                <a asp-controller="Asp" asp-action="Index"> <img src="/net.jpg" height="160" width="178" class="border-light shadow-lg" /> </a>
                <a asp-controller="Unity" asp-action="Index"> <img src="/sq.png" height="160" width="178" class="border-light shadow-lg" /> </a>
                <a asp-controller="Unity" asp-action="Index"> <img src="/unity.jpg" height="160" width="178" class="border-light shadow-lg" /> </a>
                <a asp-controller="Unity" asp-action="Index"> <img src="/git.png" height="160" width="178" class="border-light shadow-lg" /> </a>
                <a asp-controller="Unity" asp-action="Index"> <img src="/git.png" height="160" width="178" class="border-light shadow-lg" /> </a>

                <a asp-controller="Unity" asp-action="Index"> <img src="/htmlcs.png" height="160" width="178" class="border-light shadow-lg" /> </a>



            </td>
        </tr>
    </table>
        </div>


   

    <hr />
</body>
</html>

    <footer>
        푸터
    </footer>